@use "./variables" as v;

*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}
body {
  font-family: v.$font_primary;
  font-size: 1.6rem;
  height: 100%;
  overflow-y: auto;
  background-color: v.$gray;
}

#root {
  overflow-y: auto;
  height: 100%;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
