@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@100;300;400;500;700;900&family=Staatliches&display=swap");

// Fuentes
$font_primary: "Roboto", sans-serif;

$background: #737373;
$dark: #6e6e6e;

// Colores
$primary: #1f7600;
$contrast: #65ff89;
$primary-light: #75e1c62c;
$primary-dark: #305c51;
$primary-tone: #25a887;

$alert: #ff9d45;
$error: #ff8b8b;
$success: #92d960;
$blue: #47b2e6;
$pink: #ff8cb6;
$textColor: #728e94;

$white: #ffffff;
$black: #2a2a2a;
$gray: #b9b9b9;

$shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

$separation: 5rem;
